@font-face {
		font-family: 'Noto Naskh Arabic';
		src: url(./NotoNaskhArabicUI-Regular.ttf) format('truetype');
}

@face-face {
		font-family: 'Noto Naskh Arabic';
		src: url(./NotoNaskhArabicUI-Bold.ttf) format('truetype');
		font-weight: bold
}

html, body, form, fieldset, table, tr, td, img, input, button,
select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

* {
		font-family: 'Noto Naskh Arabic',
		'Noto Serif', 'Tahoma', 'Segoe UI', sans-serif;
}
