<md-input-container ng-form="nationalIdForm">
	<!-- Use floating label instead of placeholder -->
	<label>کدملی را وارد کنید</label>
	<md-icon class="material-icons">perm_identity</md-icon>
	<input type="tel"
				 ng-change="nationalIdChanged($event)"
				 ng-model="nationalId"
				 minlength="0"
				 maxlength="12"
				 name="nationalId"
				 pattern="\s*[0-9\u06F0-\u06F9\u0660-\u0669]{1,3}[\-\s_,\.]?[0-9\u06F0-\u06F9\u0660-\u0669]{6}[\-\s_,\.]?[0-9\u06F0-\u06F9\u0660-\u0669]\s*">
	<div ng-messages="nationalIdForm.nationalId.$error" role="alert">
    <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
			کدملی باید در قالب یک عبارت عددی ۸ تا ۱۰ رقمی وارد شود.
    </div>
  </div>
</md-input-container>


<div layout="column" layout-gt-sm="row" layout-align="space-around space-around">
	<md-card flex ng-show="status === 'ready'">
		<md-card-title>
			<md-title-text>
				<span class="md-subhead">متولد:</span>
				<span class="md-headline" ng-bind="city + '، ' + province"></span>
			</md-title-text>
		</md-card-title>
	</md-card>
	
	<md-card flex ng-show="status === 'ready'">
		<md-card-title>
			<md-title-text>
				<span class="md-subhead">وضعیت:</span>
				<span class="md-headline">
					<span md-colors="{color: isValid ? 'green' : 'red'}"
								ng-bind="isValid ? 'معتبر' : 'نامعتبر'"></span>
					<md-icon md-colors="{color: isValid ? 'green' : 'red'}"
									 class="material-icons"
									 ng-bind="isValid ? 'thumb_up' : 'thumb_down'"></md-icon>
				</span>
			</md-title-text>
		</md-card-title>
	</md-card>

	<md-progress-circular ng-show="status === 'processing'"></md-progress-circular>
</div>
